[Unit]
Description=Photo Frame Tornado Web Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/photo-frame-tornado
Restart=always
ExecStart=/usr/bin/python3 photoframe.py

[Install]
WantedBy=multi-user.target