[Unit]
Description=Photo Frame Tornado Web Server
After=photoframeserver.service

[Service]
Type=simple
User=pi
WorkingDirectory=/usr/share/photo-frame-tornado/photo-frame-tornado
Restart=always
ExecStart=/usr/bin/python3 photoframe.py

[Install]
WantedBy=multi-user.target