[Unit]
Description=Start Firefox Kiosk
After=photoframeserver.service

[Service]
Type=simple
User=pi
Restart=always
Environment="DISPLAY=:0"  # Set the display variable
ExecStart=/usr/bin/nohup /usr/bin/firefox --kiosk http://192.168.0.26:8888/

[Install]
WantedBy=multi-user.target